body,h1{
    margin: 0;
    padding: 0;
}

#game-container{
    margin: 0 auto;
    max-width: 500px;
}

#header-section{
    height: 80px;
    font-size: 120%;
}

#timer-section{
    width: 20%;
    float: left;
    background-color:#22264b;
    color: cadetblue;
    height: 80%;
    text-align: center;
    padding-top: 16px;
    font-size: 2em;
}

#game-title{
    width: 60%;
    float: left;
    text-align:center; 
    background-color: cadetblue;
    height: 100%;
}

#score-section{
    width: 20%;
    float: left;
    background-color:#22264b;
    color: cadetblue;
    height: 80%;
    text-align: center;
    padding-top: 16px;
    font-size: 1em;
}

#main-section{
    width: 100%;
    background-color: #e6cf8b;
    height: 400px;
    padding-top: 70px;
    text-align:center;
    z-index: 0;
}

#qtn-section{
    height: 100px;
    background-color: #6B2737;
    color: white;
    margin: 0 30px;
    font-size: 50px;
}

span{
    position: relative;
    top: 25px;
}

#option-section{
    height: 100px;
    margin-top: 100px;
    margin: 70px 30px 10px;
}

.options-div{
    height: 60%;
    width: 20.15%;
    float: left;
    background-color: #3F292B;
    color: white;
    margin: 0 10px;
    cursor: pointer;
    font-size: 30px;
    padding-top: 25px;
}

#start-section, #reset-section, #restart-section{
    background-color: black;
    color: bisque;
    display: inline-block;
    padding: 10px;
    cursor: pointer;
    margin-top: 20px;
    font-size: 150%;
}

#reset-section, #restart-section{
    display: none;
}

#game-over-section{
    height: 200px;
    display: none;
    background-color: darkslategrey;
    z-index: 1;
    margin: 0 30px;
}

#restart-text{
    font-size: 1.5em;
    padding: 10px;
    font-weight: bold;
}

@media only screen and (max-width:500px){
    #header-section
    {
        height: 110px;
        font-size: 120%;
    }
    
    #timer-section,#score-section{
        text-align: center;
        padding-top: 40px;
        height: 64%;
        font-size: 1em;
    }
    #option-section
    {
        margin: 70px 30px 10px;
        padding-left: 15px;
        height: 80px
    }
    
    .options-div
    {
        margin: 0 5px;
        padding-top: 15px;
    }
}